server {
  port = 8080
  sslPort = 8181
}
services {
  api {
    v1 {
      mongo {
        servers = ["localhost"]
        database = "fleet"
      }

      metrics {
        reporter = "none"
        seconds = 5
      }

      # Converted to an Akka config and passed to the ActorSystem:
      agents {
        akka.loglevel = DEBUG
      }
    }
  }
}
log {
  console = on
  level = "info"
}
